<a href="https://colab.research.google.com/github/prijal-matc/takeovds41/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def add_numbers(*args):
    result = 0
    for num in args:
        result += num
    return result

In [4]:
sum_result = add_numbers(1,2,3) # output 6
print(sum_result)

6

In [5]:
sum_result = add_numbers(5,10,15,20) # output 50
print(sum_result)

50

In [6]:
sum_result = add_numbers(2,4,6,8,10) # output 30
print(sum_result)

30

In [19]:
def mul_numbers(*args):
    result = 1
    for num in args:
        result *= num
    return result

In [20]:
sum_result = mul_numbers(1,2,3) # output 6
print(sum_result)

6

In [21]:
sum_result = mul_numbers(5,10,15,20) # output 15000
print(sum_result)

15000

In [22]:
sum_result = mul_numbers(2,4,6,8,10) # output 3840
print(sum_result)

3840

In [23]:
def div_numbers(*args):
    result = 1
    for num in args:
        result /= num
    return result

In [24]:
sum_result = div_numbers(1,2,3)
print(sum_result)

0.16666666666666666

In [25]:
sum_result = div_numbers(5,10,15,20)
print(sum_result)

6.666666666666667e-05

In [26]:
sum_result = div_numbers(2,4,6,8,10)
print(sum_result)

0.00026041666666666666

In [28]:
def sub_numbers(*args):
    result = 1
    for num in args:
        result -= num
    return result

In [29]:
sum_result = sub_numbers(1,2,3)
print(sum_result)

-5

In [31]:
sum_result = sub_numbers(5,10,15,20)
print(sum_result)

-49

In [30]:
sum_result = sub_numbers(2,4,6,8,10)
print(sum_result)

-29

In [32]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [33]:
print_details(name = 'Prahlad', age = 28, city = 'Madison')

name: Prahlad
age: 28
city: Madison

In [34]:
print_details(product = 'Laptop', brand = 'Dell', price = 1200)

product: Laptop
brand: Dell
price: 1200

The special syntax **kwargs in function definitions in Python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them).

question 3

In [35]:
#using abs()
number = 10
value = abs(number)
print(f"value of {number} is: {value}")

value of 10 is: 10

In [38]:
# using all()
list = [True, True, False, True]
result = all (list)
print(f"all items in the list are true: {result}")

all items in the list are true: False

In [39]:
list = [True, True, True, True]
result = all (list)
print(f"all items in the list are true: {result}")

all items in the list are true: True

In [40]:
# using any()
list =[False, False, True, False]
result = any(list)
print(f"At least one item in the list is true: {result}")

At least one item in the list is true: True

In [42]:
# using Dict()
keys = ['name', 'age', 'city']
values=['Prahlad', 28, 'Madison']
my_dict = dict(zip(keys, values))
print(f"dictionary: {dict}")

dictionary: <class 'dict'>

In [47]:
num = 5

if num > 0:
    print('the number is positive')
else:
    if num < 0:
        print('the number is negative')
    else:
        print('the number is zero.')

the number is positive

In [46]:
age = 35

if age >= 60:
    print('you are a senior citizen')
else:
    if age >= 18:
        print('you are an adult')
    else:
        print('you are a teenager')

you are an adult

In [48]:
username = 'prijal'
password = 'super'

input_username = input('enter your username: ')
input_password = input('enter your password: ')

if input_username == username and input_password == password:
    print('login successful ')
elif input_username != username:
    print('Invalid username. please try again. ')
else:
    print('Incorrect password. please try again')

enter your username: prijal
enter your password: super
login successful

In [90]:
rows = 10
hollow_pyramid(rows)

def hollow_pyramid(rows):
    for i in range(1, rows + 1):
        for j in range(1, 2 * rows):
            if i == rows or j == rows - i + 1 or j == rows + i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

In [86]:
rows = 10

for i in range(1, rows + 1):
    for j in range(1, rows * 2):
        if j <= rows -i or j >= rows + i:
            print(' ', end='')
        else:
            print('*', end='')
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [55]:
side = 10

for i in range(side):
    for j in range(side):
        if i == 0 or i == side - 1 or j == 0 or j == side - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [78]:
rows = 5
columns = 8
hollow_rectangle(rows, columns)

def hollow_rectangle(rows, columns):
    for i in range(1, rows + 1):
        for j in range(1, columns + 1):
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

* * * * * * * *
*             *
*             *
*             *
* * * * * * * *

In [84]:
capital_alphabet_pattern()

def capital_alphabet_pattern():
    start_char = ord('A')

    for i in range(1, 8):
        for j in range(1, i + 1):
            print(chr(start_char), end=" ")
            start_char += 1
        print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [91]:
rows = 10
hollow_pyramid(rows)

def hollow_pyramid(rows):
    i = 1
    while i <= rows:
        j = 1
        while j <= 2 * rows:
            if i == rows or j == rows - i + 1 or j == rows + i - 1:
                print("*", end="")
            else:
                print(" ", end="")
            j += 1
        print()
        i += 1

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

In [114]:
rows = 7
columns = 7
hollow_square(rows, columns)

def hollow_square(rows, columns):
    i = 1
    while i <= rows:
        j = 1
        while j <= columns:
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
            j += 1
        print()
        i += 1

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [113]:
rows = 4
columns = 7
hollow_rectangle(rows, columns)

def hollow_rectangle(rows, columns):
    i = 1
    while i <= rows:
        j = 1
        while j <= columns:
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
            j += 1
        print()
        i += 1

* * * * * * *
*           *
*           *
* * * * * * *

In [118]:
print('First 10 natural numbers:')
for i in range (1, 11):
    print( i, end = ',')
print('\n')

First 10 natural numbers:
1,2,3,4,5,6,7,8,9,10,

In [117]:
print('First 10 odd numbers:')
for i in range(1, 21, 2):
    print(i, end =',')
print('\n')

First 10 odd numbers:
1,3,5,7,9,11,13,15,17,19,

In [120]:
print('First 10 even numbers:')
for i in range(2, 21, 2):
    print(i, end =',')
print('\n')

First 10 even numbers:
2,4,6,8,10,12,14,16,18,20,