<a href="https://colab.research.google.com/github/prijal-matc/takeovds41/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_numbers(*args):
    result = 0
    for num in args:
        result += num
    return result

In [ ]:
sum_result = add_numbers(1,2,3) # output 6
print(sum_result)

6

In [ ]:
sum_result = add_numbers(5,10,15,20) # output 50
print(sum_result)

50

In [ ]:
sum_result = add_numbers(2,4,6,8,10) # output 30
print(sum_result)

30

In [ ]:
def mul_numbers(*args):
    result = 1
    for num in args:
        result *= num
    return result

In [ ]:
sum_result = mul_numbers(1,2,3) # output 6
print(sum_result)

6

In [ ]:
sum_result = mul_numbers(5,10,15,20) # output 15000
print(sum_result)

15000

In [ ]:
sum_result = mul_numbers(2,4,6,8,10) # output 3840
print(sum_result)

3840

In [ ]:
def div_numbers(*args):
    result = 1
    for num in args:
        result /= num
    return result

In [ ]:
sum_result = div_numbers(1,2,3)
print(sum_result)

0.16666666666666666

In [ ]:
sum_result = div_numbers(5,10,15,20)
print(sum_result)

6.666666666666667e-05

In [ ]:
sum_result = div_numbers(2,4,6,8,10)
print(sum_result)

0.00026041666666666666

In [ ]:
def sub_numbers(*args):
    result = 1
    for num in args:
        result -= num
    return result

In [ ]:
sum_result = sub_numbers(1,2,3)
print(sum_result)

-5

In [ ]:
sum_result = sub_numbers(5,10,15,20)
print(sum_result)

-49

In [ ]:
sum_result = sub_numbers(2,4,6,8,10)
print(sum_result)

-29

In [ ]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [ ]:
print_details(name = 'Prahlad', age = 28, city = 'Madison')

name: Prahlad
age: 28
city: Madison

In [ ]:
print_details(product = 'Laptop', brand = 'Dell', price = 1200)

product: Laptop
brand: Dell
price: 1200

The special syntax **kwargs in function definitions in Python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them).

question 3

In [ ]:
#using abs()
number = 10
value = abs(number)
print(f"value of {number} is: {value}")

value of 10 is: 10

In [ ]:
# using all()
list = [True, True, False, True]
result = all (list)
print(f"all items in the list are true: {result}")

all items in the list are true: False

In [ ]:
list = [True, True, True, True]
result = all (list)
print(f"all items in the list are true: {result}")

all items in the list are true: True

In [ ]:
# using any()
list =[False, False, True, False]
result = any(list)
print(f"At least one item in the list is true: {result}")

At least one item in the list is true: True

In [ ]:
# using Dict()
keys = ['name', 'age', 'city']
values=['Prahlad', 28, 'Madison']
my_dict = dict(zip(keys, values))
print(f"dictionary: {dict}")

dictionary: <class 'dict'>

In [ ]:
num = 5

if num > 0:
    print('the number is positive')
else:
    if num < 0:
        print('the number is negative')
    else:
        print('the number is zero.')

the number is positive

In [ ]:
age = 35

if age >= 60:
    print('you are a senior citizen')
else:
    if age >= 18:
        print('you are an adult')
    else:
        print('you are a teenager')

you are an adult

In [ ]:
username = 'prijal'
password = 'super'

input_username = input('enter your username: ')
input_password = input('enter your password: ')

if input_username == username and input_password == password:
    print('login successful ')
elif input_username != username:
    print('Invalid username. please try again. ')
else:
    print('Incorrect password. please try again')

enter your username: prijal
enter your password: super
login successful

In [ ]:
rows = 10
hollow_pyramid(rows)

def hollow_pyramid(rows):
    for i in range(1, rows + 1):
        for j in range(1, 2 * rows):
            if i == rows or j == rows - i + 1 or j == rows + i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

In [ ]:
rows = 10

for i in range(1, rows + 1):
    for j in range(1, rows * 2):
        if j <= rows -i or j >= rows + i:
            print(' ', end='')
        else:
            print('*', end='')
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
side = 10

for i in range(side):
    for j in range(side):
        if i == 0 or i == side - 1 or j == 0 or j == side - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
rows = 5
columns = 8
hollow_rectangle(rows, columns)

def hollow_rectangle(rows, columns):
    for i in range(1, rows + 1):
        for j in range(1, columns + 1):
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

* * * * * * * *
*             *
*             *
*             *
* * * * * * * *

In [ ]:
capital_alphabet_pattern()

def capital_alphabet_pattern():
    start_char = ord('A')

    for i in range(1, 8):
        for j in range(1, i + 1):
            print(chr(start_char), end=" ")
            start_char += 1
        print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [ ]:
rows = 10
hollow_pyramid(rows)

def hollow_pyramid(rows):
    i = 1
    while i <= rows:
        j = 1
        while j <= 2 * rows:
            if i == rows or j == rows - i + 1 or j == rows + i - 1:
                print("*", end="")
            else:
                print(" ", end="")
            j += 1
        print()
        i += 1

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

In [ ]:
rows = 7
columns = 7
hollow_square(rows, columns)

def hollow_square(rows, columns):
    i = 1
    while i <= rows:
        j = 1
        while j <= columns:
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
            j += 1
        print()
        i += 1

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [ ]:
rows = 4
columns = 7
hollow_rectangle(rows, columns)

def hollow_rectangle(rows, columns):
    i = 1
    while i <= rows:
        j = 1
        while j <= columns:
            if i == 1 or i == rows or j == 1 or j == columns:
                print("*", end=" ")
            else:
                print(" ", end=" ")
            j += 1
        print()
        i += 1

* * * * * * *
*           *
*           *
* * * * * * *

In [ ]:
print('First 10 natural numbers:')
for i in range (1, 11):
    print( i, end = ',')
print('\n')

First 10 natural numbers:
1,2,3,4,5,6,7,8,9,10,

In [ ]:
print('First 10 odd numbers:')
for i in range(1, 21, 2):
    print(i, end =',')
print('\n')

First 10 odd numbers:
1,3,5,7,9,11,13,15,17,19,

In [ ]:
print('First 10 even numbers:')
for i in range(2, 21, 2):
    print(i, end =',')
print('\n')

First 10 even numbers:
2,4,6,8,10,12,14,16,18,20,

In [ ]:
question 8

In [10]:

num  = int(input('Enter a number: '))

for i in  range(1, num+ 1):

    sum_result = 0
    sum_result += i
print(f"Sum: {sum_result}")

Enter a number: 1
Sum: 1

In [19]:
num  = int(input('Enter a number: '))

for i in  range(1, num+ 1):
    subtraction_result = 0
    subtraction_result -= i
print(f'Subtraction: {subtraction_result}')

Enter a number: 1
Subtraction: -1

In [20]:
num = int (input('Enter a number: '))

for i in range (1, num+1):
    multiplication_result = 1
    multiplication_result *= i
print(f"Multiplication: {multiplication_result}")

Enter a number: 1
Multiplication: 1

In [21]:
num = int (input('Enter a number: '))

for i in range (1, num+1):
    division_result = 1
    division_result /= i
print(f'Division: {division_result}')

Enter a number: 1
Division: 1.0

In [22]:
num = int (input('Enter a number: '))

for i in range (1, num+1):
    floor_division_result = 1
    floor_division_result //= i
print(f"Floor Division: {floor_division_result}")

Enter a number: 1
Floor Division: 1

In [24]:
num = int (input('Enter a number: '))

for i in range (1, num+1):
    modulus_result = 0
    modulus_result %= i
print(f'Modulus: {modulus_result}')

Enter a number: 1
Modulus: 0

In [25]:
num = int (input('Enter a number: '))

for i in range (1, num+1):
    exponential_result = 1
    exponential_result **= 1
print(f'Exponential: {exponential_result}')

Enter a number: 1
Exponential: 1

In [ ]:
question 9

In [28]:
word = input ('Enter a any word: ')

reversed_word = word[::-1]

print(f'Reversed Word: {reversed_word}')

Enter a any word: ABCD
Reversed Word: DCBA

In [ ]:
question 10

In [33]:
def is_armstrong_number(number):
    num_str = str(number)
    num_digits = len(num_str)
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    return armstrong_sum ==number

num = int(input("Enter a number: "))
if is_armstrong_number(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} in not an Armstrong number")

Enter a number: 1
1 is an Armstrong number

In [ ]:
question 11

In [42]:
def fibonacci_series(limit):
    fib_series = []
    a, b = 0, 1

    while a <= limit:
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

limit = int(input('Enter a limit for Fibonacci series: '))

result = fibonacci_series(limit)
print(f"fibonacci series up to {limit}: {result}")

Enter a limit for Fibonacci series: 5
fibonacci series up to 5: [0, 1, 1, 2, 3, 5]

In [ ]:
question 12

In [48]:
def factorial(number):
    if number ==0 or number == 1:
        return 1
    else:
        return number * factorial(number -1)

num = int(input('Enter a number: '))

result = factorial(num)
print(f'Factorial of {num} is: {result}')

Enter a number: 1
Factorial of 1 is: 1

In [ ]:

questin 13

In [52]:
def month_to_days(month_name):
    month_days = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July':31, 'August':31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}

    month_name = month_name.title()
    if month_name in month_days:
        return f"{month_name} has {month_days[month_name]} days"
    else:
        return "Invalid month name. Please enter a valid month"

month_input = input('Enter the month name: ')

result = month_to_days(month_input)
print(result)

Enter the month name: March
March has 31 days