<a href="https://colab.research.google.com/github/prijal-matc/takeovds41/blob/main/DBA_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
percent = 25.85
print (percent, type(percent))
mobile = 6086086089
print (mobile, type(mobile))
complex = 10+30j
print (complex, type(complex))
visa = True
print (visa, type(visa))
name = 'Prahlad Rijal'
print (name, type(name))

25.85 <class 'float'>
6086086089 <class 'int'>
(10+30j) <class 'complex'>
True <class 'bool'>
Prahlad Rijal <class 'str'>

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print (lst1, type(lst1))

['mango', 'banana', 'apple', 'cherry', 'guava'] <class 'list'>

In [ ]:
tup1 = ('suger', 'tea', 'coffee', 'bread')
print (tup1, type(tup1))

('suger', 'tea', 'coffee', 'bread') <class 'tuple'>

In [ ]:
set1 = {1,2,3,4, 'a','b','c','d', 12.23,34.45,56.66, True,False}
print (set1, type(set1))

{False, 1, 2, 3, 4, 'a', 34.45, 'b', 12.23, 56.66, 'd', 'c'} <class 'set'>

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.append
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.clear()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
[]

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.copy()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.count('banana')
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.reverse()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['guava', 'cherry', 'apple', 'banana', 'mango']

In [ ]:
tup1 = ('mango', 'banana', 'apple', 'cherry', 'guava')
print(tup1)
tup1.index
print(tup1)

('mango', 'banana', 'apple', 'cherry', 'guava')
('mango', 'banana', 'apple', 'cherry', 'guava')

In [ ]:
tup1 = ('mango', 'banana', 'apple', 'cherry', 'guava')
print(tup1)
tup1.count('guava')
print(tup1)

('mango', 'banana', 'apple', 'cherry', 'guava')
('mango', 'banana', 'apple', 'cherry', 'guava')

In [ ]:
#**Wednesday Dec 06, 2023**

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[0::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[0:len(lst1)]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[::1]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[:4:]

[12, 23, 34, 45]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[2:6:]

[34, 45, 56, 67]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1:-(len(lst1)+1):-1]

[90, 89, 78, 67, 56, 45, 34, 23, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::-1]

[45, 34, 23, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-4:-8:-1]

[67, 56, 45, 34]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1::-4]

[90, 56, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-4::-3]

[67, 34]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[3:9:1]

[45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::1]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::1]

[45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1:-7:-1]

[90, 89, 78, 67, 56, 45]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[:2:-1]

[90, 89, 78, 67, 56, 45]

Python Operators
1. arithmetic operator
2. Assignment operator
3. Comparison operator
4. Logical Operator

In [ ]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)

a = 13
b =3

print(a%b) # Modulus
print(a//b) # Floor division
print(a**b) # Exponentiation

15
5
50
2.0
1
4
2197

In [ ]:
a = a + b

In [ ]:
a = 10
b = 20
print(a+b)

30

In [ ]:
a = 10
b =20
a +=b
print (a)

30

In [ ]:
a = 10
b = 20
a -=b
print(a)

-10

In [ ]:
a = 10
b = 20

a *=b
print(a)

200

In [ ]:
a = 10
b = 20

a /=b
print(a)

0.5

In [ ]:
a = 10
b = 20

a %=b
print(a)

10

In [ ]:
a = 10
b = 20
a //=b
print(a)

0

In [ ]:
a = 10
b = 20
a **=b
print(a)

100000000000000000000

In [ ]:
a = 10
b = 20

a == b

False

In [ ]:
a = 10
b = 20

a !=b

True

In [ ]:
a = 10
b = 20

a > b

False

In [ ]:
a = 10
b = 20

a < b

True

In [ ]:
a = 10
b = 20

a >= b

False

In [ ]:
a = 10
b = 20

a <= b

True

In [ ]:
a = 10
b = 20

a < 5 and b < 10

False

In [ ]:
a = 10
b = 20

a < 5 or b < 4

False

In [ ]:
a = 10
b = 20

not (a <5 and b < 10)

True

Thursday Dec 07 2023

In [ ]:
a = 10
b = 20

if a < b:
print( 'a is greater than b')
else:
  print('we are in else part')

IndentationError: ignored

In [ ]:
a =10
b = 20
c = 30

if (a < b) and (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a > b) or (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a > b) or (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a < b) and ((b < c) or (a < c)):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a < b) and (b < c) or (a < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if a < b:
    print('a < b')
elif b < c:
    print('b < c')
elif a < c:
    print('a < c')

a < b

In [ ]:
a =10
b = 20
c = 30

if a > b:
    print('a > b')
elif b > c:
    print('b > c')
elif a > c:
    print('a > c')
else:
    print('we are in else part')

we are in else part

In [ ]:
a = 10
b = 100
if a < 100:
  print('a < 20')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else a < 55')
    else:
      print('else a < 70')
  else:
    print('else a < 85')
else:
  print('else a < 100')

a < 20
a < 85
a < 70
a < 55

In [ ]:
a = 10
b = 100
if a < 100:
  print('a < 20')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else a < 55')
    else:
      print('else a < 70')
  else:
    print('else a < 85')
else:
  print('else a < 100')

a < 20
a < 85
a < 70
a < 55

In [ ]:
from re import I

a = 0
for i in range(1, 1000001, 1):
  a += i
print(a)

500000500000

In [ ]:
i = 1
a = 0

while i < 101:
  a += i
  i += 1

print (a)

5050

In [ ]:
i = 1
a = 0

while i < 101: # 1, 2, 3, 4, 5...99, 100
  a += i # 1,3,6,10,15... 5050
  i += 1 # 2,3,4,5,6

print (a)

5050

In [ ]:
i = 100
a = 0

while i < 101:
  a += i
  i += 1

print (a)

100

In [ ]:
a = 100
for i in range(1, 1001, 1):
  a += i
print(a)

500600

In [ ]:
i = 1
a = 0

while i < 100:
  a += i
  i += 1

print(a)

4950

In [ ]:
i = 1
a = 0
while i<101:
  a += i
  i += 1
print(a)

5050

In [ ]:
a = 0
for i in range(1, 1001, 1):
  a -= i
print(a)

-500500

In [ ]:
a = 0
for i in range(0, 100, )

In [ ]:

a = 0
for i in range(1, 101, 1):
  a += i
else:
  print('we are in else part')
  print(a)

we are in else part
5050

In [ ]:
i = 1
a = 0

while i < 101:
  a += i
  i += 1

else:
  print('we are in else part')
print(a)

we are in else part
5050

In [ ]:
a = 0
for i in range(100, 0, 1):
  a += i
else:
  print('we are in else part')
  print(a)

we are in else part
0

In [ ]:
Friday  Dec 08,2023

SyntaxError: ignored

85% first classs distinction
75% - 60% first calss
59.99% - 40% second class

In [ ]:
student_lst1 = [98, 90, 80, 87, 76, 70, 65, 60, 54, 50, 43, 40]

for i in student_lst1:
  print("Percentage Achieved", i)
  if i >=85:
    print('...Pass with First Class Distinction')
  elif i >= 60:
    print('...Pass with First Class')
  elif i >= 40:
    print('...Pass with second class')
  else:
    print('...Better luck next time')

Percentage Achieved 98
...Pass with First Class Distinction
Percentage Achieved 90
...Pass with First Class Distinction
Percentage Achieved 80
...Pass with First Class
Percentage Achieved 87
...Pass with First Class Distinction
Percentage Achieved 76
...Pass with First Class
Percentage Achieved 70
...Pass with First Class
Percentage Achieved 65
...Pass with First Class
Percentage Achieved 60
...Pass with First Class
Percentage Achieved 54
...Pass with second class
Percentage Achieved 50
...Pass with second class
Percentage Achieved 43
...Pass with second class
Percentage Achieved 40
...Pass with second class

In [ ]:
student_name = ['Ram']
student_sub = ['eng', 'math', 'science', 'so.sci', 'pt']
student_marks_1 = [98,87,76,65,54]

for i in student_name:
  sub_tot = 0
  for j in student_marks_1:
    sub_tot += j
  print(i, 'achieved', sub_tot, 'marks.')

Ram achieved 380 marks.

In [ ]:
student_name = ['Ram', 'shyam', 'shiv', 'shanker']
student_sub = ['eng', 'math', 'science', 'so.sci', 'pt']
student_marks_1 = [[98,87,76,65,54]
                  [45,54,56,67,78]
                  [78,76,78,79,75]
                  [56,56,67,78,89]]

for i in student_name:
  sub_tot = 0
  for j in student_marks_1:
    sub_tot += j
  print(i, 'achieved', sub_tot, 'marks.')

<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-11-394150ced3eb>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  student_marks_1 = [[98,87,76,65,54]

TypeError: ignored

In [ ]:

for i in range(10):
  for j in range(10):
    print('*', end='')
  print('\n')

**********

**********

**********

**********

**********

**********

**********

**********

**********

**********

In [ ]:
for i in range(10):
  for j in range(10):
    #for k in range (10):
    print('*', end=' ')
  print('')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:

for i in range(10):
  for j in range(i + 1):
    print('*', end=' ')
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
height = 10

for i in range(height):

    for j in range(height - i - 1):
        print(' ', end=' ')


    for k in range(2 * i + 1):
        print('*', end=' ')


    print('')

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range (10-i):
    print('', end=' ')
  for k in range(i + 1):
    print('*', end=' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
i = 0
while i < 5:
    j = 0
    while j <= i:
        print('*', end=' ')
        j += 1
    print('')
    i += 1

*
* *
* * *
* * * *
* * * * *

In [ ]:
rows = 5
columns = 5

i = 0

while i < rows:
  j = 0
  while j < columns:
    print('*', end='')
    j += 1
  print('')
  i +=1

*****
*****
*****
*****
*****

In [ ]:
for i in range(0, 10, 1):
    for j in range(1, 10, 1):
        print('[',i, '-', j,']', end='')

    print()

In [ ]:
while i in range (0, 10, 1):
    while j in range (0, 10, 10):
        print()

In [ ]:

Day 6 Monday, Dec 11, 2023

In [ ]:
python Function

build in function
user define functions
lambda functions

In [ ]:
a = int(input('marks in math: '))
b = int(input('marks in science'))
c = int(input('marks in social'))

total = a + b + c
print(total)

marks in math: 98
marks in science87
marks in social76
261

In [ ]:
a = float(input('marks in math: '))
b = float(input('marks in science'))
c = float(input('marks in social'))

total = a + b + c
print(total)

marks in math: 98.76
marks in science87.65
marks in social76.54
262.95000000000005

In [ ]:
a = complex(input('input 1: '))
b = complex(input('input 2:'))
c = complex(input('input 3:'))

total = a + b + c
print(total)
print(type(total))

input 1: 12+23j
input 2:-23-34j
input 3:34+34j
(23+23j)
<class 'complex'>

In [ ]:

a = complex(input('input 1:'))
b = complex(input('input 2'))
c = complex(input('input 3'))

total = a+b+c
print(total)
print(type(total))

input 1:12+23j
input 2-25-34j
input 334+25j
(21+14j)
<class 'complex'>

In [ ]:
var_str1 = 'python programming'

print(list(var_str1))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [ ]:
var_str1 = 'python programming'
print(tuple(var_str1))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

In [ ]:

var_str1 = 'python programming'
print(set(var_str1))

{' ', 't', 'g', 'm', 'p', 'i', 'h', 'a', 'n', 'y', 'o', 'r'}

In [ ]:
for i  in range (0, 200, 1):
    print('decimal: ', i)
    print('binary:', i)
    print('octa decimal:', oct(i))
    print('hexa decimal:', hex(i))

decimal:  0
binary: 0
octa decimal: 0o0
hexa decimal: 0x0
decimal:  1
binary: 1
octa decimal: 0o1
hexa decimal: 0x1
decimal:  2
binary: 2
octa decimal: 0o2
hexa decimal: 0x2
decimal:  3
binary: 3
octa decimal: 0o3
hexa decimal: 0x3
decimal:  4
binary: 4
octa decimal: 0o4
hexa decimal: 0x4
decimal:  5
binary: 5
octa decimal: 0o5
hexa decimal: 0x5
decimal:  6
binary: 6
octa decimal: 0o6
hexa decimal: 0x6
decimal:  7
binary: 7
octa decimal: 0o7
hexa decimal: 0x7
decimal:  8
binary: 8
octa decimal: 0o10
hexa decimal: 0x8
decimal:  9
binary: 9
octa decimal: 0o11
hexa decimal: 0x9
decimal:  10
binary: 10
octa decimal: 0o12
hexa decimal: 0xa
decimal:  11
binary: 11
octa decimal: 0o13
hexa decimal: 0xb
decimal:  12
binary: 12
octa decimal: 0o14
hexa decimal: 0xc
decimal:  13
binary: 13
octa decimal: 0o15
hexa decimal: 0xd
decimal:  14
binary: 14
octa decimal: 0o16
hexa decimal: 0xe
decimal:  15
binary: 15
octa decimal: 0o17
hexa decimal: 0xf
decimal:  16
binary: 16
octa decimal: 0o20
hexa decimal: 0x10
decimal:  17
binary: 17
octa decimal: 0o21
hexa decimal: 0x11
decimal:  18
binary: 18
octa decimal: 0o22
hexa decimal: 0x12
decimal:  19
binary: 19
octa decimal: 0o23
hexa decimal: 0x13
decimal:  20
binary: 20
octa decimal: 0o24
hexa decimal: 0x14
decimal:  21
binary: 21
octa decimal: 0o25
hexa decimal: 0x15
decimal:  22
binary: 22
octa decimal: 0o26
hexa decimal: 0x16
decimal:  23
binary: 23
octa decimal: 0o27
hexa decimal: 0x17
decimal:  24
binary: 24
octa decimal: 0o30
hexa decimal: 0x18
decimal:  25
binary: 25
octa decimal: 0o31
hexa decimal: 0x19
decimal:  26
binary: 26
octa decimal: 0o32
hexa decimal: 0x1a
decimal:  27
binary: 27
octa decimal: 0o33
hexa decimal: 0x1b
decimal:  28
binary: 28
octa decimal: 0o34
hexa decimal: 0x1c
decimal:  29
binary: 29
octa decimal: 0o35
hexa decimal: 0x1d
decimal:  30
binary: 30
octa decimal: 0o36
hexa decimal: 0x1e
decimal:  31
binary: 31
octa decimal: 0o37
hexa decimal: 0x1f
decimal:  32
binary: 32
octa decimal: 0o40
hexa decimal: 0x20
decimal:  33
binary: 33
octa decimal: 0o41
hexa decimal: 0x21
decimal:  34
binary: 34
octa decimal: 0o42
hexa decimal: 0x22
decimal:  35
binary: 35
octa decimal: 0o43
hexa decimal: 0x23
decimal:  36
binary: 36
octa decimal: 0o44
hexa decimal: 0x24
decimal:  37
binary: 37
octa decimal: 0o45
hexa decimal: 0x25
decimal:  38
binary: 38
octa decimal: 0o46
hexa decimal: 0x26
decimal:  39
binary: 39
octa decimal: 0o47
hexa decimal: 0x27
decimal:  40
binary: 40
octa decimal: 0o50
hexa decimal: 0x28
decimal:  41
binary: 41
octa decimal: 0o51
hexa decimal: 0x29
decimal:  42
binary: 42
octa decimal: 0o52
hexa decimal: 0x2a
decimal:  43
binary: 43
octa decimal: 0o53
hexa decimal: 0x2b
decimal:  44
binary: 44
octa decimal: 0o54
hexa decimal: 0x2c
decimal:  45
binary: 45
octa decimal: 0o55
hexa decimal: 0x2d
decimal:  46
binary: 46
octa decimal: 0o56
hexa decimal: 0x2e
decimal:  47
binary: 47
octa decimal: 0o57
hexa decimal: 0x2f
decimal:  48
binary: 48
octa decimal: 0o60
hexa decimal: 0x30
decimal:  49
binary: 49
octa decimal: 0o61
hexa decimal: 0x31
decimal:  50
binary: 50
octa decimal: 0o62
hexa decimal: 0x32
decimal:  51
binary: 51
octa decimal: 0o63
hexa decimal: 0x33
decimal:  52
binary: 52
octa decimal: 0o64
hexa decimal: 0x34
decimal:  53
binary: 53
octa decimal: 0o65
hexa decimal: 0x35
decimal:  54
binary: 54
octa decimal: 0o66
hexa decimal: 0x36
decimal:  55
binary: 55
octa decimal: 0o67
hexa decimal: 0x37
decimal:  56
binary: 56
octa decimal: 0o70
hexa decimal: 0x38
decimal:  57
binary: 57
octa decimal: 0o71
hexa decimal: 0x39
decimal:  58
binary: 58
octa decimal: 0o72
hexa decimal: 0x3a
decimal:  59
binary: 59
octa decimal: 0o73
hexa decimal: 0x3b
decimal:  60
binary: 60
octa decimal: 0o74
hexa decimal: 0x3c
decimal:  61
binary: 61
octa decimal: 0o75
hexa decimal: 0x3d
decimal:  62
binary: 62
octa decimal: 0o76
hexa decimal: 0x3e
decimal:  63
binary: 63
octa decimal: 0o77
hexa decimal: 0x3f
decimal:  64
binary: 64
octa decimal: 0o100
hexa decimal: 0x40
decimal:  65
binary: 65
octa decimal: 0o101
hexa decimal: 0x41
decimal:  66
binary: 66
octa decimal: 0o102
hexa decimal: 0x42
decimal:  67
binary: 67
octa decimal: 0o103
hexa decimal: 0x43
decimal:  68
binary: 68
octa decimal: 0o104
hexa decimal: 0x44
decimal:  69
binary: 69
octa decimal: 0o105
hexa decimal: 0x45
decimal:  70
binary: 70
octa decimal: 0o106
hexa decimal: 0x46
decimal:  71
binary: 71
octa decimal: 0o107
hexa decimal: 0x47
decimal:  72
binary: 72
octa decimal: 0o110
hexa decimal: 0x48
decimal:  73
binary: 73
octa decimal: 0o111
hexa decimal: 0x49
decimal:  74
binary: 74
octa decimal: 0o112
hexa decimal: 0x4a
decimal:  75
binary: 75
octa decimal: 0o113
hexa decimal: 0x4b
decimal:  76
binary: 76
octa decimal: 0o114
hexa decimal: 0x4c
decimal:  77
binary: 77
octa decimal: 0o115
hexa decimal: 0x4d
decimal:  78
binary: 78
octa decimal: 0o116
hexa decimal: 0x4e
decimal:  79
binary: 79
octa decimal: 0o117
hexa decimal: 0x4f
decimal:  80
binary: 80
octa decimal: 0o120
hexa decimal: 0x50
decimal:  81
binary: 81
octa decimal: 0o121
hexa decimal: 0x51
decimal:  82
binary: 82
octa decimal: 0o122
hexa decimal: 0x52
decimal:  83
binary: 83
octa decimal: 0o123
hexa decimal: 0x53
decimal:  84
binary: 84
octa decimal: 0o124
hexa decimal: 0x54
decimal:  85
binary: 85
octa decimal: 0o125
hexa decimal: 0x55
decimal:  86
binary: 86
octa decimal: 0o126
hexa decimal: 0x56
decimal:  87
binary: 87
octa decimal: 0o127
hexa decimal: 0x57
decimal:  88
binary: 88
octa decimal: 0o130
hexa decimal: 0x58
decimal:  89
binary: 89
octa decimal: 0o131
hexa decimal: 0x59
decimal:  90
binary: 90
octa decimal: 0o132
hexa decimal: 0x5a
decimal:  91
binary: 91
octa decimal: 0o133
hexa decimal: 0x5b
decimal:  92
binary: 92
octa decimal: 0o134
hexa decimal: 0x5c
decimal:  93
binary: 93
octa decimal: 0o135
hexa decimal: 0x5d
decimal:  94
binary: 94
octa decimal: 0o136
hexa decimal: 0x5e
decimal:  95
binary: 95
octa decimal: 0o137
hexa decimal: 0x5f
decimal:  96
binary: 96
octa decimal: 0o140
hexa decimal: 0x60
decimal:  97
binary: 97
octa decimal: 0o141
hexa decimal: 0x61
decimal:  98
binary: 98
octa decimal: 0o142
hexa decimal: 0x62
decimal:  99
binary: 99
octa decimal: 0o143
hexa decimal: 0x63
decimal:  100
binary: 100
octa decimal: 0o144
hexa decimal: 0x64
decimal:  101
binary: 101
octa decimal: 0o145
hexa decimal: 0x65
decimal:  102
binary: 102
octa decimal: 0o146
hexa decimal: 0x66
decimal:  103
binary: 103
octa decimal: 0o147
hexa decimal: 0x67
decimal:  104
binary: 104
octa decimal: 0o150
hexa decimal: 0x68
decimal:  105
binary: 105
octa decimal: 0o151
hexa decimal: 0x69
decimal:  106
binary: 106
octa decimal: 0o152
hexa decimal: 0x6a
decimal:  107
binary: 107
octa decimal: 0o153
hexa decimal: 0x6b
decimal:  108
binary: 108
octa decimal: 0o154
hexa decimal: 0x6c
decimal:  109
binary: 109
octa decimal: 0o155
hexa decimal: 0x6d
decimal:  110
binary: 110
octa decimal: 0o156
hexa decimal: 0x6e
decimal:  111
binary: 111
octa decimal: 0o157
hexa decimal: 0x6f
decimal:  112
binary: 112
octa decimal: 0o160
hexa decimal: 0x70
decimal:  113
binary: 113
octa decimal: 0o161
hexa decimal: 0x71
decimal:  114
binary: 114
octa decimal: 0o162
hexa decimal: 0x72
decimal:  115
binary: 115
octa decimal: 0o163
hexa decimal: 0x73
decimal:  116
binary: 116
octa decimal: 0o164
hexa decimal: 0x74
decimal:  117
binary: 117
octa decimal: 0o165
hexa decimal: 0x75
decimal:  118
binary: 118
octa decimal: 0o166
hexa decimal: 0x76
decimal:  119
binary: 119
octa decimal: 0o167
hexa decimal: 0x77
decimal:  120
binary: 120
octa decimal: 0o170
hexa decimal: 0x78
decimal:  121
binary: 121
octa decimal: 0o171
hexa decimal: 0x79
decimal:  122
binary: 122
octa decimal: 0o172
hexa decimal: 0x7a
decimal:  123
binary: 123
octa decimal: 0o173
hexa decimal: 0x7b
decimal:  124
binary: 124
octa decimal: 0o174
hexa decimal: 0x7c
decimal:  125
binary: 125
octa decimal: 0o175
hexa decimal: 0x7d
decimal:  126
binary: 126
octa decimal: 0o176
hexa decimal: 0x7e
decimal:  127
binary: 127
octa decimal: 0o177
hexa decimal: 0x7f
decimal:  128
binary: 128
octa decimal: 0o200
hexa decimal: 0x80
decimal:  129
binary: 129
octa decimal: 0o201
hexa decimal: 0x81
decimal:  130
binary: 130
octa decimal: 0o202
hexa decimal: 0x82
decimal:  131
binary: 131
octa decimal: 0o203
hexa decimal: 0x83
decimal:  132
binary: 132
octa decimal: 0o204
hexa decimal: 0x84
decimal:  133
binary: 133
octa decimal: 0o205
hexa decimal: 0x85
decimal:  134
binary: 134
octa decimal: 0o206
hexa decimal: 0x86
decimal:  135
binary: 135
octa decimal: 0o207
hexa decimal: 0x87
decimal:  136
binary: 136
octa decimal: 0o210
hexa decimal: 0x88
decimal:  137
binary: 137
octa decimal: 0o211
hexa decimal: 0x89
decimal:  138
binary: 138
octa decimal: 0o212
hexa decimal: 0x8a
decimal:  139
binary: 139
octa decimal: 0o213
hexa decimal: 0x8b
decimal:  140
binary: 140
octa decimal: 0o214
hexa decimal: 0x8c
decimal:  141
binary: 141
octa decimal: 0o215
hexa decimal: 0x8d
decimal:  142
binary: 142
octa decimal: 0o216
hexa decimal: 0x8e
decimal:  143
binary: 143
octa decimal: 0o217
hexa decimal: 0x8f
decimal:  144
binary: 144
octa decimal: 0o220
hexa decimal: 0x90
decimal:  145
binary: 145
octa decimal: 0o221
hexa decimal: 0x91
decimal:  146
binary: 146
octa decimal: 0o222
hexa decimal: 0x92
decimal:  147
binary: 147
octa decimal: 0o223
hexa decimal: 0x93
decimal:  148
binary: 148
octa decimal: 0o224
hexa decimal: 0x94
decimal:  149
binary: 149
octa decimal: 0o225
hexa decimal: 0x95
decimal:  150
binary: 150
octa decimal: 0o226
hexa decimal: 0x96
decimal:  151
binary: 151
octa decimal: 0o227
hexa decimal: 0x97
decimal:  152
binary: 152
octa decimal: 0o230
hexa decimal: 0x98
decimal:  153
binary: 153
octa decimal: 0o231
hexa decimal: 0x99
decimal:  154
binary: 154
octa decimal: 0o232
hexa decimal: 0x9a
decimal:  155
binary: 155
octa decimal: 0o233
hexa decimal: 0x9b
decimal:  156
binary: 156
octa decimal: 0o234
hexa decimal: 0x9c
decimal:  157
binary: 157
octa decimal: 0o235
hexa decimal: 0x9d
decimal:  158
binary: 158
octa decimal: 0o236
hexa decimal: 0x9e
decimal:  159
binary: 159
octa decimal: 0o237
hexa decimal: 0x9f
decimal:  160
binary: 160
octa decimal: 0o240
hexa decimal: 0xa0
decimal:  161
binary: 161
octa decimal: 0o241
hexa decimal: 0xa1
decimal:  162
binary: 162
octa decimal: 0o242
hexa decimal: 0xa2
decimal:  163
binary: 163
octa decimal: 0o243
hexa decimal: 0xa3
decimal:  164
binary: 164
octa decimal: 0o244
hexa decimal: 0xa4
decimal:  165
binary: 165
octa decimal: 0o245
hexa decimal: 0xa5
decimal:  166
binary: 166
octa decimal: 0o246
hexa decimal: 0xa6
decimal:  167
binary: 167
octa decimal: 0o247
hexa decimal: 0xa7
decimal:  168
binary: 168
octa decimal: 0o250
hexa decimal: 0xa8
decimal:  169
binary: 169
octa decimal: 0o251
hexa decimal: 0xa9
decimal:  170
binary: 170
octa decimal: 0o252
hexa decimal: 0xaa
decimal:  171
binary: 171
octa decimal: 0o253
hexa decimal: 0xab
decimal:  172
binary: 172
octa decimal: 0o254
hexa decimal: 0xac
decimal:  173
binary: 173
octa decimal: 0o255
hexa decimal: 0xad
decimal:  174
binary: 174
octa decimal: 0o256
hexa decimal: 0xae
decimal:  175
binary: 175
octa decimal: 0o257
hexa decimal: 0xaf
decimal:  176
binary: 176
octa decimal: 0o260
hexa decimal: 0xb0
decimal:  177
binary: 177
octa decimal: 0o261
hexa decimal: 0xb1
decimal:  178
binary: 178
octa decimal: 0o262
hexa decimal: 0xb2
decimal:  179
binary: 179
octa decimal: 0o263
hexa decimal: 0xb3
decimal:  180
binary: 180
octa decimal: 0o264
hexa decimal: 0xb4
decimal:  181
binary: 181
octa decimal: 0o265
hexa decimal: 0xb5
decimal:  182
binary: 182
octa decimal: 0o266
hexa decimal: 0xb6
decimal:  183
binary: 183
octa decimal: 0o267
hexa decimal: 0xb7
decimal:  184
binary: 184
octa decimal: 0o270
hexa decimal: 0xb8
decimal:  185
binary: 185
octa decimal: 0o271
hexa decimal: 0xb9
decimal:  186
binary: 186
octa decimal: 0o272
hexa decimal: 0xba
decimal:  187
binary: 187
octa decimal: 0o273
hexa decimal: 0xbb
decimal:  188
binary: 188
octa decimal: 0o274
hexa decimal: 0xbc
decimal:  189
binary: 189
octa decimal: 0o275
hexa decimal: 0xbd
decimal:  190
binary: 190
octa decimal: 0o276
hexa decimal: 0xbe
decimal:  191
binary: 191
octa decimal: 0o277
hexa decimal: 0xbf
decimal:  192
binary: 192
octa decimal: 0o300
hexa decimal: 0xc0
decimal:  193
binary: 193
octa decimal: 0o301
hexa decimal: 0xc1
decimal:  194
binary: 194
octa decimal: 0o302
hexa decimal: 0xc2
decimal:  195
binary: 195
octa decimal: 0o303
hexa decimal: 0xc3
decimal:  196
binary: 196
octa decimal: 0o304
hexa decimal: 0xc4
decimal:  197
binary: 197
octa decimal: 0o305
hexa decimal: 0xc5
decimal:  198
binary: 198
octa decimal: 0o306
hexa decimal: 0xc6
decimal:  199
binary: 199
octa decimal: 0o307
hexa decimal: 0xc7

In [ ]:


help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:

help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

In [ ]:

lst1 = ['apple', 'banana', 'cherry', 'dates', 'eggfruits', 'fig', 'grapes']

x = iter(lst1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry
dates
eggfruits
fig
grapes

In [ ]:

tup1 = ['apple', 'banana', 'cherry', 'dates', 'eggfruits', 'fig', 'grapes']

x = iter(tup1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry
dates
eggfruits
fig
grapes

In [ ]:
set1 = {'apple', 'banana', 'cherry', 'dates', 'eggfruits', 'fig', 'grapes'}

x = iter(set1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
dates
grapes
eggfruits
banana
fig
cherry

StopIteration: ignored

In [ ]:
str1 = 'python programming'
len(str1)

18

In [ ]:

lst1 = ['apple', 'banana', 'cherry', 'dates', 'eggfruits', 'fig', 'grapes']
len(lst1)

7

In [ ]:

min(lst1)

'apple'

In [ ]:
max(lst1)

'grapes'

In [ ]:

flt1 = 3.841451234876582
round(flt1)

4

In [ ]:
Tuesday Dec 12, 2023

In [ ]:
python suer define function

In [ ]:
def welcome_world():
    print('welcome to takeo data science bootcamp - BDS41')

In [ ]:
welcome_world()

welcome to takeo data science bootcamp - BDS41

In [ ]:

def add_3(a,b,c):
    return(a+b+c)

In [ ]:
add_3(10,20,30)

60

In [ ]:
add_3(12.34,23.45,34.56)

70.35

In [ ]:
add_3(12+34j, -23-45j, 34+56j)

(23+45j)

In [ ]:
add_3(True, True, False)

2

In [ ]:
add_3('python', 'welcome', 'universe')

'pythonwelcomeuniverse'

In [ ]:

def add_3(a,b,c):
    print(a+b+c)
    print(a-b-c)
    print(a*b*c)
    print(a/b/c)

In [ ]:
add_3(12.15, 25.25, 45.45)

82.85
-58.550000000000004
13943.491875000002
0.010587197333594745

In [ ]:
def create_email(a, b):
    print(a,'.',b,'@junkmail.com')

In [ ]:
create_email('prahlad','rijal')

prahlad . rijal @junkmail.com

In [ ]:


def prahlad_rijal(rows, columns):
    a = 0
    while a < rows:
        b = 0
        while b < columns:
            print('@', end=' ')
            b += 1
        print(' ')
        a +=1

In [ ]:
prahlad_rijal(10, 10)

@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @

In [ ]:
def odd_even():
    if a % 2 == 0:
    print('This number', a, 'is even')
    else:
        print('This number', a, 'is odd')

In [ ]:
odd_even(14)

NameError: ignored

In [ ]:

student_lst1 = [98, 90, 80, 87, 76, 70, 65, 60, 54, 50, 43, 40]

for i in student_lst1:
  print("Percentage Achieved", i)
  if i >=85:
    print('...Pass with First Class Distinction')
  elif i >= 60:
    print('...Pass with First Class')
  elif i >= 40:
    print('...Pass with second class')
  elif i >= 35
    print('...pass with third')
    print('...Better luck next time')

In [ ]:
dict1 = {'Aam': 56, 'Bam': 67, 'Cam': 78, 'Dam': 89, 'Eam': 90, 'Fam': 91, 'Gam': 34, 'Ham': 32, 'Iam': 33, 'Jam': 54, 'Kam': 57}
for i in dict1:
  print("Percentage Achieved", i)
  if i >=85:
    print('...Pass with First Class Distinction')
  elif i >= 60:
    print('...Pass with First Class')
  elif i >= 40:
    print('...Pass with second class')
  elif i >= 35
    print('...pass with third class')
else:
    print('...Better luck next time')

In [ ]:
dict1(87)

TypeError: ignored

In [ ]:
def any_argument(*prahlad):
    return prahlad

In [ ]:
any_argument()

()

In [ ]:
any_argument(10)

(10,)

In [ ]:
any_argument(10, 20, 30, 40, 50, 60, 70)

(10, 20, 30, 40, 50, 60, 70)

In [ ]:
any_argument('nepal is great')

('nepal is great',)

In [ ]:
def any_kwargument(**prahlad):
    return prahlad

In [ ]:
any_kwargument(name='rijal')

{'name': 'rijal'}

In [ ]:
any_kwargument(name='prahlad', fname='prahlad', lname='rijal')

{'name': 'prahlad', 'fname': 'prahlad', 'lname': 'rijal'}

In [ ]:
any_kwargument(Aam= 56, Bam= 67, Cam= 78, Dam= 89, Eam= 90, Fam= 91, Gam= 34, Ham= 32, Iam= 33, Jam= 54, Kam= 57)

{'Aam': 56,
 'Bam': 67,
 'Cam': 78,
 'Dam': 89,
 'Eam': 90,
 'Fam': 91,
 'Gam': 34,
 'Ham': 32,
 'Iam': 33,
 'Jam': 54,
 'Kam': 57}