<a href="https://colab.research.google.com/github/prijal-matc/takeovds41/blob/main/DBA_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
percent = 25.85
print (percent, type(percent))
mobile = 6086086089
print (mobile, type(mobile))
complex = 10+30j
print (complex, type(complex))
visa = True
print (visa, type(visa))
name = 'Prahlad Rijal'
print (name, type(name))

25.85 <class 'float'>
6086086089 <class 'int'>
(10+30j) <class 'complex'>
True <class 'bool'>
Prahlad Rijal <class 'str'>

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print (lst1, type(lst1))

['mango', 'banana', 'apple', 'cherry', 'guava'] <class 'list'>

In [ ]:
tup1 = ('suger', 'tea', 'coffee', 'bread')
print (tup1, type(tup1))

('suger', 'tea', 'coffee', 'bread') <class 'tuple'>

In [ ]:
set1 = {1,2,3,4, 'a','b','c','d', 12.23,34.45,56.66, True,False}
print (set1, type(set1))

{False, 1, 2, 3, 4, 'a', 34.45, 'b', 12.23, 56.66, 'd', 'c'} <class 'set'>

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.append
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.clear()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
[]

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.copy()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.count('banana')
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['mango', 'banana', 'apple', 'cherry', 'guava']

In [ ]:
lst1 = ['mango', 'banana', 'apple', 'cherry', 'guava']
print(lst1)
lst1.reverse()
print(lst1)

['mango', 'banana', 'apple', 'cherry', 'guava']
['guava', 'cherry', 'apple', 'banana', 'mango']

In [ ]:
tup1 = ('mango', 'banana', 'apple', 'cherry', 'guava')
print(tup1)
tup1.index
print(tup1)

('mango', 'banana', 'apple', 'cherry', 'guava')
('mango', 'banana', 'apple', 'cherry', 'guava')

In [ ]:
tup1 = ('mango', 'banana', 'apple', 'cherry', 'guava')
print(tup1)
tup1.count('guava')
print(tup1)

('mango', 'banana', 'apple', 'cherry', 'guava')
('mango', 'banana', 'apple', 'cherry', 'guava')

In [ ]:
#**Wednesday Dec 06, 2023**

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[0::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[0:len(lst1)]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[::1]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[:4:]

[12, 23, 34, 45]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[2:6:]

[34, 45, 56, 67]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1:-(len(lst1)+1):-1]

[90, 89, 78, 67, 56, 45, 34, 23, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::-1]

[45, 34, 23, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-4:-8:-1]

[67, 56, 45, 34]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1::-4]

[90, 56, 12]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-4::-3]

[67, 34]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[3:9:1]

[45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::1]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-6::1]

[45, 56, 67, 78, 89, 90]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[-1:-7:-1]

[90, 89, 78, 67, 56, 45]

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
lst1[:2:-1]

[90, 89, 78, 67, 56, 45]

Python Operators
1. arithmetic operator
2. Assignment operator
3. Comparison operator
4. Logical Operator

In [ ]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)

a = 13
b =3

print(a%b) # Modulus
print(a//b) # Floor division
print(a**b) # Exponentiation

15
5
50
2.0
1
4
2197

In [ ]:
a = a + b

In [ ]:
a = 10
b = 20
print(a+b)

30

In [ ]:
a = 10
b =20
a +=b
print (a)

30

In [ ]:
a = 10
b = 20
a -=b
print(a)

-10

In [ ]:
a = 10
b = 20

a *=b
print(a)

200

In [ ]:
a = 10
b = 20

a /=b
print(a)

0.5

In [ ]:
a = 10
b = 20

a %=b
print(a)

10

In [ ]:
a = 10
b = 20
a //=b
print(a)

0

In [ ]:
a = 10
b = 20
a **=b
print(a)

100000000000000000000

In [ ]:
a = 10
b = 20

a == b

False

In [ ]:
a = 10
b = 20

a !=b

True

In [ ]:
a = 10
b = 20

a > b

False

In [ ]:
a = 10
b = 20

a < b

True

In [ ]:
a = 10
b = 20

a >= b

False

In [ ]:
a = 10
b = 20

a <= b

True

In [ ]:
a = 10
b = 20

a < 5 and b < 10

False

In [ ]:
a = 10
b = 20

a < 5 or b < 4

False

In [ ]:
a = 10
b = 20

not (a <5 and b < 10)

True

Thursday Dec 07 2023

In [ ]:
a = 10
b = 20

if a < b:
print( 'a is greater than b')
else:
  print('we are in else part')

IndentationError: ignored

In [ ]:
a =10
b = 20
c = 30

if (a < b) and (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a > b) or (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a > b) or (b < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a < b) and ((b < c) or (a < c)):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if (a < b) and (b < c) or (a < c):
    print("condition is True")

condition is True

In [ ]:
a =10
b = 20
c = 30

if a < b:
    print('a < b')
elif b < c:
    print('b < c')
elif a < c:
    print('a < c')

a < b

In [ ]:
a =10
b = 20
c = 30

if a > b:
    print('a > b')
elif b > c:
    print('b > c')
elif a > c:
    print('a > c')
else:
    print('we are in else part')

we are in else part

In [ ]:
a = 10
b = 100
if a < 100:
  print('a < 20')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else a < 55')
    else:
      print('else a < 70')
  else:
    print('else a < 85')
else:
  print('else a < 100')

a < 20
a < 85
a < 70
a < 55

In [ ]:
a = 10
b = 100
if a < 100:
  print('a < 20')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else a < 55')
    else:
      print('else a < 70')
  else:
    print('else a < 85')
else:
  print('else a < 100')

a < 20
a < 85
a < 70
a < 55

In [ ]:
from re import I

a = 0
for i in range(1, 1000001, 1):
  a += i
print(a)

500000500000

In [ ]:
i = 1
a = 0

while i < 101:
  a += i
  i += 1

print (a)

5050

In [ ]:
i = 1
a = 0

while i < 101: # 1, 2, 3, 4, 5...99, 100
  a += i # 1,3,6,10,15... 5050
  i += 1 # 2,3,4,5,6

print (a)

5050

In [ ]:
i = 100
a = 0

while i < 101:
  a += i
  i += 1

print (a)

100

In [ ]:
a = 100
for i in range(1, 1001, 1):
  a += i
print(a)

500600

In [ ]:
i = 1
a = 0

while i < 100:
  a += i
  i += 1

print(a)

4950

In [ ]:
i = 1
a = 0
while i<101:
  a += i
  i += 1
print(a)

5050

In [ ]:
a = 0
for i in range(1, 1001, 1):
  a -= i
print(a)

-500500

In [ ]:
a = 0
for i in range(0, 100, )

In [ ]:

a = 0
for i in range(1, 101, 1):
  a += i
else:
  print('we are in else part')
  print(a)

we are in else part
5050

In [ ]:
i = 1
a = 0

while i < 101:
  a += i
  i += 1

else:
  print('we are in else part')
print(a)

we are in else part
5050

In [ ]:
a = 0
for i in range(100, 0, 1):
  a += i
else:
  print('we are in else part')
  print(a)

we are in else part
0

In [1]:
Friday  Dec 08,2023

SyntaxError: ignored

85% first classs distinction
75% - 60% first calss
59.99% - 40% second class

In [5]:
student_lst1 = [98, 90, 80, 87, 76, 70, 65, 60, 54, 50, 43, 40]

for i in student_lst1:
  print("Percentage Achieved", i)
  if i >=85:
    print('...Pass with First Class Distinction')
  elif i >= 60:
    print('...Pass with First Class')
  elif i >= 40:
    print('...Pass with second class')
  else:
    print('...Better luck next time')

Percentage Achieved 98
...Pass with First Class Distinction
Percentage Achieved 90
...Pass with First Class Distinction
Percentage Achieved 80
...Pass with First Class
Percentage Achieved 87
...Pass with First Class Distinction
Percentage Achieved 76
...Pass with First Class
Percentage Achieved 70
...Pass with First Class
Percentage Achieved 65
...Pass with First Class
Percentage Achieved 60
...Pass with First Class
Percentage Achieved 54
...Pass with second class
Percentage Achieved 50
...Pass with second class
Percentage Achieved 43
...Pass with second class
Percentage Achieved 40
...Pass with second class

In [8]:
student_name = ['Ram']
student_sub = ['eng', 'math', 'science', 'so.sci', 'pt']
student_marks_1 = [98,87,76,65,54]

for i in student_name:
  sub_tot = 0
  for j in student_marks_1:
    sub_tot += j
  print(i, 'achieved', sub_tot, 'marks.')

Ram achieved 380 marks.

In [11]:
student_name = ['Ram', 'shyam', 'shiv', 'shanker']
student_sub = ['eng', 'math', 'science', 'so.sci', 'pt']
student_marks_1 = [[98,87,76,65,54]
                  [45,54,56,67,78]
                  [78,76,78,79,75]
                  [56,56,67,78,89]]

for i in student_name:
  sub_tot = 0
  for j in student_marks_1:
    sub_tot += j
  print(i, 'achieved', sub_tot, 'marks.')

<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-11-394150ced3eb>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  student_marks_1 = [[98,87,76,65,54]

TypeError: ignored

In [12]:

for i in range(10):
  for j in range(10):
    print('*', end='')
  print('\n')

**********

**********

**********

**********

**********

**********

**********

**********

**********

**********

In [20]:
for i in range(10):
  for j in range(10):
    #for k in range (10):
    print('*', end=' ')
  print('')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [21]:

for i in range(10):
  for j in range(i + 1):
    print('*', end=' ')
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [23]:
height = 10

for i in range(height):

    for j in range(height - i - 1):
        print(' ', end=' ')


    for k in range(2 * i + 1):
        print('*', end=' ')


    print('')

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [32]:
for i in range(10):
  for j in range (10-i):
    print('', end=' ')
  for k in range(i + 1):
    print('*', end=' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [34]:
i = 0
while i < 5:
    j = 0
    while j <= i:
        print('*', end=' ')
        j += 1
    print('')
    i += 1

*
* *
* * *
* * * *
* * * * *

In [42]:
rows = 5
columns = 5

i = 0

while i < rows:
  j = 0
  while j < columns:
    print('*', end='')
    j += 1
  print('')
  i +=1

*****
*****
*****
*****
*****